.container {
  background-color: var(--bettersum-black);
  color: var(--bettersum-beige);
  padding: 50px 0px 100px 0px;
}

.inner-container {
  width: var(--width-clamp);
  margin: 0px auto;
}

.photo-container {
  position: relative;
  width: 100%;
  margin: 0px 0px 25px 0px;
}

.photo-container,
.photo-grid {
  /* aspect-ratio: 1050 / 590; */
  min-height: 590px;
}

.overview-tools-container {
  margin: 80px 0px 100px 0px;
  display: grid;
  grid-template-columns: auto auto;
}

.overview-container {
  margin: 0px 175px 0px 0px;
}

.overview-title {
  border-top: 3px solid var(--bettersum-beige);
  padding: 5px 0px 0px 0px;
  width: fit-content;
}

.overview-title,
.tools-title {
  margin: 0px 0px 25px 0px;
}

.tools-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.tool {
  white-space: pre;
  margin: 0px 0px 5px 0px;
}

.stats-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 100px 0px 100px 0px;
}

.stat-container {
  display: flex;
  flex-direction: column;
}

.stat-description {
  max-width: 230px;
}

.photo-grid {
  display: flex;
  flex-direction: row;
}

.photo-grid div:first-child {
  position: relative;
  width: 400px;
  margin: 0px 25px 0px 0px;
}

.photo-grid div:last-child {
  position: relative;
  flex-grow: 1;
}

@media only screen and (max-width: 1200px) {
  .photo-container,
  .photo-grid {
    min-height: 300px;
  }

  .overview-container {
    margin: 0px 75px 0px 0px;
  }

  .photo-grid div:first-child {
    position: relative;
    width: 30%;
    margin: 0px 25px 0px 0px;
  }
}

@media only screen and (max-width: 650px) {
  .photo-container {
    min-height: 210px;
  }

  .overview-tools-container {
    grid-template-columns: auto;
  }

  .overview-container {
    margin: 0px 0px 30px 0px;
  }

  .overview-title {
    border: none;
  }

  .stats-grid {
    flex-direction: column;
    margin: 30px 0px 30px 0px;
  }

  .stat-container {
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .stat-container:not(:first-child) {
    margin: 20px 0px 0px 0px;
  }

  .stat-description {
    flex-grow: 1;
    max-width: unset;
    margin: 0px 0px 0px 15px;
  }

  .photo-grid {
    flex-direction: column;
    min-height: unset;
  }

  .photo-grid div:first-child {
    min-height: 620px;
    width: 100%;
    /* aspect-ratio: 375 / 620; */
    margin: 0px 0px 7.5px 0px;
  }

  .photo-grid div:last-child {
    width: 100%;
    min-height: 265px;
    /* aspect-ratio: 375 / 265; */
  }
}
