.container {
  background-color: var(--bettersum-black);
  color: var(--bettersum-beige);
  padding: 60px 0px 115px 0px;
}

.title {
  width: var(--width-clamp);
  margin: 0px auto 68px auto;
}

.lab-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 60px 0px 0px 0px;
}

.lab-tag {
  cursor: pointer;
  border: none;
  background-color: var(--bettersum-blue);
  color: var(--bettersum-beige);
  padding: 0.5em 1.75em;
  margin: 0px 15px 0px 0px;
}
