.container {
  background-color: var(--bettersum-black);
  color: var(--bettersum-beige);
  padding: 68px 0px 130px 0px;
}

.header {
}

.header,
.link-container {
  width: var(--width-clamp);
  margin: 0px auto;
}

.case-studies-grid-container {
  margin: 30px 0px 70px 0px;
}

@media only screen and (max-width: 850px) {
  .container {
    padding: 68px 0px 65px 0px;
  }
}
