.container {
  background-color: var(--bettersum-black);
  color: var(--bettersum-beige);
}

.header,
.button {
  width: var(--width-clamp);
  margin: 0px auto;
}

.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: var(--bettersum-blue);
  color: var(--bettersum-beige);
  border: none;
  padding: 25px 25px;
}

.button p {
  margin: 0px 20px 0px 0px;
}
