.container {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  flex-flow: wrap;
  color: var(--bettersum-beige);
  width: clamp(300px, 95%, 1000px);
}

.link {
  cursor: pointer;
}

.link,
.plus {
  opacity: 0.3;
}

/* .link:nth-child(n) {
  flex-basis: 25%;
} */

.container .plus:nth-child(1) {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 575px;
  }
}

@media only screen and (max-width: 650px) {
  .container {
    width: 330px;
  }
}
