.container {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  flex-flow: wrap;
  color: var(--bettersum-beige);
  width: clamp(300px, 95%, 1075px);
}

.link {
  cursor: pointer;
  width: fit-content;
}

.link,
.plus {
  opacity: 0.3;
}

/* .link:nth-child(n) {
  flex-basis: 25%;
} */

.container .plus:nth-last-child(2) {
  display: none;
}

.break {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 575px;
  }
}

@media only screen and (max-width: 650px) {
  .container {
    width: 330px;
    row-gap: 2px;
  }

  .break {
    flex-basis: 100%;
    display: block;
  }

  .container .plus:nth-last-child(2) {
    display: block;
  }
}
