.container {
  position: absolute;
  bottom: 20px;
  display: flex;
  flex-direction: row;
  column-gap: 40px;
}

.container:hover {
  cursor: pointer;
}

.see-more-text {
  color: var(--bettersum-beige);
}
