.container {
  background-color: var(--bettersum-beige);
  margin: 0px;
  background: url("/splashPageBackground.svg") no-repeat;
  background-size: 100vw auto;
  background-position: bottom right;
}

.inner-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 50px;
  width: var(--width-clamp);
  margin: 0px auto;
  padding: 68px 0px 62px 0px;
}

.inner-container div:first-child {
  width: 500px;
}

.image-container {
  position: relative;
  height: 655px;
  width: 490px;
}

.image-container > span {
  position: relative !important;
}

.image-container > span > img {
  position: relative !important;
  height: auto !important;
  min-height: unset !important;
}

@media only screen and (max-width: 850px) {
  .container {
    background: none;
  }

  .inner-container {
    flex-direction: column;
    width: 100%;
    padding: 0px;
  }

  .inner-container > div:first-child {
    width: 100%;
    padding: 27px calc((100% - var(--width-clamp)) / 2) 55px
      calc((100% - var(--width-clamp)) / 2);
    background: url("/splashPageBackground.svg") no-repeat;
    background-size: 100vw auto;
    background-position: bottom right;
  }

  .image-container {
    width: 100%;
    height: 100%;
  }

  .image-container > span {
    height: auto !important;
    width: 100% !important;
  }

  .image-container > span > img {
    max-height: unset !important;
  }
}
