.container {
  display: flex;
  flex-direction: row;
  column-gap: 23px;
}

.input-container {
  flex-grow: 1;
}

.button {
  all: unset;
  background-color: var(--bettersum-blue);
  height: 72px;
  padding: 0px 1.75rem;
  box-sizing: border-box;
  text-align: center;
  min-width: max-content;
}

.button:hover {
  cursor: pointer;
}

.button:disabled {
  opacity: 0.5;
}

@media only screen and (max-width: 1200px) {
  .button {
    height: 64px;
  }
}
