.container {
  background-color: var(--bettersum-black);
  padding: 160px 0px 175px 0px;
}

.inner-container {
}

.flex-container {
  position: relative;
  width: var(--width-clamp);
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  column-gap: 55px;
}

.team-image {
  position: relative;
  width: 730px;
  height: 550px;
}

.text-container {
  width: 250px;
  color: var(--bettersum-beige);
}

.meet-team-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
  margin: 30px 0px 0px 0px;
}

.meet-team-container:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .flex-container {
    flex-direction: column-reverse;
    row-gap: 25px;
  }

  .text-container {
    width: var(--width-clamp);
  }

  .team-image {
    width: 100%;
    height: 750px;
  }
}

@media only screen and (max-width: 650px) {
  .team-image {
    height: 245px;
  }
}
