.container {
  background-color: var(--bettersum-black);
  color: var(--bettersum-beige);
  padding: 285px 0px 400px 0px;
}

.inner-container {
  width: var(--width-clamp);
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 100px;
}

.title {
  max-width: 500px;
}

.input-container {
  flex-grow: 1;
}
