.container {
  background-color: var(--bettersum-black);
  color: var(--bettersum-beige);
  padding: 285px 0px 300px 0px;
}

.inner-container {
  width: var(--width-clamp);
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 100px;
}

.title {
  max-width: 500px;
}

.input-container {
  flex-grow: 1;
}

@media only screen and (max-width: 1200px) {
  .container {
    padding: 150px 0px 250px 0px;
  }

  .inner-container {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 40px;
  }

  .input-container {
    width: 100%;
  }
}
