.container {
  display: flex;
  flex-direction: row;
  column-gap: 45px;
  border-bottom: 1px solid var(--bettersum-black);
  padding: 0px 0px 25px 0px;
  width: 100%;
}

.text-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.description {
  max-width: 400px;
}
