.container {
  position: relative;
  /* top: 0px; */
  background-color: var(--bettersum-beige);
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 2px solid var(--bettersum-black);
  /* height: 110px; */
  z-index: 50;
}

.inner-container {
  width: clamp(300px, 90%, 1200px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 30px;
}

.brand:hover {
  cursor: pointer;
}

.logo-text {
  color: var(--bettersum-black);
  font-size: 12px;
  font-weight: 300;
}

.bolded-logo-text {
  font-weight: 500;
}

.routes-container {
  display: flex;
  flex-direction: row;
  column-gap: 75px;
  /* color: var(--bettersum-black); */
}

.route {
  box-sizing: border-box;
  /* width: 90px;
  text-align: center; */
  /* height: 2px; */
  /* width: 110px; */
  /* margin-top: 7.5px; */
  /* border-top: 1px solid var(--bettersum-black); */
}

.hamburger-menu-container {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .hamburger-menu-container {
    display: block;
  }

  .routes-container {
    display: none;
  }

  .routes-container {
    display: none;
  }

  .hamburger-routes-container {
    position: absolute;
    top: 100px;
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    row-gap: 55px;
    padding: 50px 0px 0px 0px;
    text-align: center;
    background-color: var(--bettersum-black);
    height: 100vh;
  }

  .hamburger-icon:hover {
    cursor: pointer;
  }

  .route {
    all: unset;
    color: var(--bettersum-beige);
  }
}

@media only screen and (max-width: 650px) {
  .container {
    height: 80px;
  }

  .hamburger-routes-container {
    top: 70px;
  }

  .logo-text {
    display: none;
  }
}
