.container {
  background-color: var(--bettersum-beige);
}

.inner-container {
  position: relative;
  /* width: clamp(300px, 90%, 1300px); */
  margin: 0px auto;
}

.highlighted-text {
  color: var(--bettersum-blue);
}

.service-container {
  display: grid;
  /* grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3); */
  grid-template-columns: calc((100% - 400px) / 2) 400px calc((100% - 400px) / 2);
}

@media only screen and (max-width: 1200px) {
  .inner-container {
    width: 100%;
  }

  .service-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
