.container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px solid var(--bettersum-black);
}

.container:first-child {
  padding-top: 50px;
  margin-top: 25px;
}

.inner-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  column-gap: 45px;
}

.close-button {
  all: unset;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0px;
}

.text-container,
.mobile-text-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.mobile-text-container {
  display: none;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 275px;
}

.see-services {
  visibility: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 15px;
  color: var(--bettersum-beige);
}

.title-text {
  width: fit-content;
  border-top: none;
}

.overview {
  /* margin: 0px 0px 0px 65px; */
  max-width: 520px;
}

.plus-container {
  all: unset;
  display: flex;
  align-items: flex-start;
}

.plus-container:hover {
  cursor: pointer;
}

.service-breakdowns-container {
  /* width: 100%; */
  margin: 65px 0px 110px 0px;
  display: flex;
  flex-direction: column;
  row-gap: 75px;
}

.contact-button {
  all: unset;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 15px;
  padding: 0px 45px;
  box-sizing: border-box;
  height: 60px;
  width: 100%;
  background-color: var(--bettersum-blue);
  color: var(--bettersum-beige);
}

.contact-button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .inner-container {
    column-gap: 25px;
  }

  .text-container {
    display: none;
  }

  .mobile-text-container {
    display: flex;
    row-gap: 20px;
  }

  .overview {
    width: 80%;
    max-width: unset;
  }

  .service-breakdowns-container {
    margin: 30px 0px 110px 0px;
  }
}
