.container {
  background-color: var(--bettersum-white);
  padding: 0px 0px 135px 0px;
}

.media-grid {
  display: flex;
  flex-direction: column;
  width: var(--width-clamp);
  margin: 0px auto 100px auto;
}

.media-container:not(:first-child) {
  margin: 60px 0px 0px 0px;
}

.all-work-link {
  display: block;
  width: var(--width-clamp);
  margin: 0px auto;
  color: var(--bettersum-black);
}

.arrow-container {
  display: inline-flex;
  vertical-align: middle;
  margin: 0px 0px 0px 28px;
}

@media only screen and (max-width: 850px) {
  .container {
    padding: 0px 0px 50px 0px;
  }

  .media-grid {
    width: 100%;
    margin: 0px 0px 30px 0px;
  }

  .media-container:not(:first-child) {
    margin: 30px 0px 0px 0px;
  }
}
