.container {
  display: flex;
  flex-direction: column;
  background-color: var(--bettersum-black);
  color: var(--bettersum-beige);
  padding: 88px 0px 0px 0px;
}

.header-container {
  width: var(--width-clamp);
  margin: 0px auto;
}

.subtitle-text {
  margin: 20px 0px 35px 0px;
}

.link-text {
  color: var(--bettersum-beige);
  text-decoration: underline;
}

.splash-image-container {
  display: flex;
  width: var(--width-clamp);
  margin: 88px auto 0px auto;
}

@media only screen and (max-width: 850px) {
  .container {
    padding: 28px 0px 0px 0px;
  }

  .subtitle-text {
    max-width: 15px 0px 10px 0px;
  }

  .splash-image-container {
    width: 100%;
    /* height: 100; */
    margin: 40px auto 0px auto;
  }
}

@media only screen and (max-width: 500px) {
  .splash-image-container {
    /* height: 215px; */
  }
}
