.container {
  background-color: var(--bettersum-black);
  color: var(--bettersum-black);
}

.inner-container {
  width: var(--width-clamp);
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  row-gap: 80px;
}

.preview-container {
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  .inner-container {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  .preview-container {
    width: 520px;
  }
}

@media only screen and (max-width: 650px) {
  .inner-container {
    flex-direction: column;
  }

  .preview-container {
    width: 100%;
    max-width: unset;
  }
}
