.preview-container {
  display: block;
  flex-direction: column;
}

.preview-image-container {
  display: block;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bettersum-beige);
  padding: 0px 25px;
  flex-grow: 1;
}

.tags-container {
  margin: 5px 0px 0px 0px;
}

@media only screen and (max-width: 850px) {
  .text-container {
    padding: 12px 16px;
  }
}
