.preview-container {
  flex-shrink: 0;
  display: block;
  box-sizing: border-box;
  background-color: var(--bettersum-beige);
  width: 520px;
  aspect-ratio: 520 / 520;
  /* height: 425px; */
  border: 1px solid var(--bettersum-black);
}

.text-container {
  border-top: 1px solid var(--bettersum-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 25px;
  height: 190px;
}

.preview-image-container {
  position: relative;
  width: 100%;
  height: calc(100% - 190px);
}

.lab-tag {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: var(--bettersum-blue);
  color: var(--bettersum-beige);
  padding: 0.5em 1.25em;
}

.tags-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  white-space: pre;
  margin: 25px 0px 0px 0px;
}

.tags-container p:first-child span {
  display: none;
}

@media only screen and (max-width: 650px) {
  .text-container {
    height: 120px;
  }

  .preview-image-container {
    height: calc(100% - 120px);
  }

  .tags-container {
    margin: 10px 0px 0px 0px;
  }
}
