.container {
  background-color: var(--bettersum-black);
  color: var(--bettersum-beige);
  padding: 120px 0px 200px 0px;
}

.inner-container {
  width: var(--width-clamp);
  margin: 0px auto;
}

.details-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  column-gap: 135px;
  margin: 30px 0px 0px 0px;
}

.subtitle-text {
  margin: 150px 0px 0px 0px;
  max-width: 540px;
}
