.intro-header {
  margin: 0px;
  font-size: 5rem;
  font-weight: 600;
  line-height: 5rem;
}

.subtitle-header {
  margin: 0px;
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 2.1875rem;
}

.title-header {
  margin: 0px;
  font-size: 3.75rem;
  font-weight: 600;
  line-height: 3.75rem;
}

.body-copy {
  margin: 0px;
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 2.5rem;
}

.flair-copy {
  margin: 0px;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.875rem;
}

.category-copy {
  margin: 0px;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 2.1875rem;
}

.hidden-h1 {
  font-size: 0;
  width: 1px;
  height: 1px;
  display: inline-block;
  overflow: hidden;
  position: absolute !important;
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
}
