:root {
  --bettersum-beige: #f9f7f3;
  --bettersum-blue: #4690ff;
  --bettersum-black: #000000;
  --bettersum-off-black: #14142b;
  --width-clamp: clamp(300px, 90%, 1200px);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  all: unset;
}

* {
  box-sizing: border-box;
}
