:root {
  --bettersum-beige: #f9f7f3;
  --bettersum-blue: #4690ff;
  --bettersum-black: #000000;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.focus-header {
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.5rem;
}

.subtitle-header {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 2.5rem;
}

.body-copy {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 2.125rem;
}

.flair-copy {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.5625rem;
}
