@font-face {
  font-family: 'Campton';
  src: url('../public/assets/CamptonLight.otf');
  font-weight: 300;
  font-style: normal;
}

/* @font-face {
  font-family: "Campton";
  src: url("../public/assets/CamptonBook.otf");
  font-weight: 400;
  font-style: normal;
} */

@font-face {
  font-family: 'Campton';
  src: url('../public/assets/CamptonMedium.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Campton';
  src: url('../public/assets/CamptonBold.otf');
  font-weight: 700;
  font-style: normal;
}

:root {
  --bettersum-beige: #f9f7f3;
  --bettersum-white: #fff;
  --bettersum-blue: #4690ff;
  --bettersum-black: #000000;
  --bettersum-off-black: #14142b;
  --error-color: #eb5757;

  --width-clamp: clamp(300px, 90%, 1200px);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Campton, sans-serif !important;
  white-space: pre-line;
}

@media only screen and (max-width: 850px) {
  html,
  body {
    font-size: 10.5px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  all: unset;
}

* {
  box-sizing: border-box;
}
