.container {
  background-color: var(--bettersum-black);
  color: var(--bettersum-beige);
  padding: 70px 0px 140px 0px;
}

.inner-container {
  width: var(--width-clamp);
  margin: 0px auto;
}

.header-container {
  padding: 0px 0px 30px 0px;
  border-bottom: 2px solid var(--bettersum-beige);
}

.figure-grid {
  margin: 105px 0px 0px 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

.figure-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 850px) {
  .figure-grid {
    margin: 50px 0px 0px 0px;
    display: flex;
    flex-direction: column;
  }

  .figure-container {
    margin: 0px 0px 50px 0px;
  }
}
